div.root {
  background-color: #282c34;
}
.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 2% auto;
}

.App-header h1 {
  color: white;
}

.profiles {
  flex: 0 0 auto;
  margin-right: 1.5rem !important;
  margin-top: 1.5rem !important;
  max-height: 300px;
  max-width: 200px;
  color: "#212529";
  padding: "5px";
}

.profiles > img {
  max-height: 200px;
  max-width: 200px;
}

.profile {
  flex: 0 0 auto;
  margin-right: 1.5rem !important;
  margin-top: 1.5rem !important;
  /*height: 300px;*/
  max-width: 350px;
  color: "#212529";
  padding: "5px";
}
.profile > img {
  /*max-height: 350px;
  max-width: 350px;*/
}
